<div>
    <h2>Lista de Pagamentos</h2>
    <br/>
    <div class="mb-3">
        <input id="nome" type="text" class="form-control" name="nome" disabled
            [(ngModel)] = "pessoa.nome">
    </div>
    <div class="mb-3">
        <input id="cpf" type="text" class="form-control" name="cpf" disabled
            [(ngModel)] = "pessoa.cpf">
    </div>    
    <div class="row">
        <div class="col-sm">
            <table *ngIf="pagamentos.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Destinatário</th>
                        <th>CPF Destinatário</th>
                        <th>Chave PIX</th>
                        <th>Valor</th>
                        <th>Data de Pagamento</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let pagamento of pagamentos">
                        <td> {{ pagamento.pessoa.nome }} </td>
                        <td> {{ pagamento.pessoa.cpf }} </td>
                        <td> {{ pagamento.chavePix }} </td>
                        <td> {{ pagamento.valor | currency:'R$' }} </td>
                        <td> {{ pagamento.dataPagamento | date:"dd/MM/yyyy" }} </td>
                        <td> {{ pagamento.descricao }} </td>
                        <td>
                            <button type="button" class="btn btn-info me-2" (click) = "goToPagamentoUpdate(pagamento.id)">Editar</button>
                            <button type="button" class="btn btn-danger" (click) = "deletarPagamento(pagamento)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="pagamentos.length == 0">Nenhum pagamento cadastrado para o usuário <b>{{ pessoa.nome }}</b>.</p>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="goToUsuariosFind()">Voltar</button>

</div>