<div class="col-md-6 offset-md-3">
    
    <!-- PESQUISA -->
    <form (ngSubmit) = "onSubmit()">
    
        <div class="input-group">
            <input id="nome" type="text" class="form-control me-2" name="nome"
                placeholder="Informe o nome do usuário"
                [(ngModel)] = "pessoa.nome">
            <button type="submit" class="btn btn-info">Pesquisar</button>
        </div>

    </form>
    <br/>

    <!-- RESULTADO DA PESQUISA -->
    <div class="row">
        <div class="col-sm">
            <table *ngIf="usuarios.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Agência</th>
                        <th>Conta</th>
                        <th>Dígito</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let usuario of usuarios">
                        <td> {{ usuario.nome }} </td>
                        <td> {{ usuario.agencia }} </td>
                        <td> {{ usuario.conta }} </td>
                        <td> {{ usuario.digito }} </td>
                        <td>
                            <button title="Listar Pagamentos" type="button" class="btn btn-primary bi bi-card-checklist me-2" (click) = "goToPagamentosList(usuario.id)"></button>
                            <button title="Cadastrar Pagamento" type="button" class="btn btn-success bi bi-cart-check me-2" (click) = "goToPagamentoAdd(usuario.id)"></button>
                            <button title="Montante por mês" type="button" class="btn btn-info bi bi-pie-chart" (click) = "openDialog(usuario.id)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p *ngIf="usuarios.length == 0">Nenhum usuário encontrado. Para listar faça a busca no campo acima.</p>
            
        </div>
    </div>
</div>