<div>
    <h2>Lista de Contas</h2>
    <br/>
    <div class="mb-3">
        <input id="nome" type="text" class="form-control" name="nome" disabled
            [(ngModel)] = "pessoa.nome">
    </div>
    <div class="mb-3">
        <input id="cpf" type="text" class="form-control" name="cpf" disabled
            [(ngModel)] = "pessoa.cpf">
    </div>    
    <div class="row">
        <div class="col-sm">
            <table *ngIf="contas.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Agência</th>
                        <th>Conta</th>
                        <th>Dígito</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let conta of contas">
                        <td> {{ conta.numeroAgencia }} </td>
                        <td> {{ conta.numeroConta }} </td>
                        <td> {{ conta.digito }} </td>
                        <td> {{ conta.tipoConta }} </td>
                        <td>
                            <button type="button" class="btn btn-info me-2" (click) = "goToContasUpdate(conta.id)">Editar</button>
                            <button type="button" class="btn btn-danger" (click) = "deletarConta(conta)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="contas.length == 0">Nenhuma conta cadastrada para o usuário <b>{{ pessoa.nome }}</b>.</p>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="goToUsuariosFind()">Voltar</button>

</div>