<div class="col-md-8 offset-md-3">
    <h3>Atualização de Usuário</h3>
    <form (ngSubmit) = "onSubmit()">

        <div class="mb-3">
            <label class="mb-3">Nome</label>
            <input id="nome" type="text" class="form-control" name="nome"
                [(ngModel)] = "pessoa.nome">
        </div>

        <div class="mb-3">
            <label class="mb-3">CPF</label>
            <input id="cpf" type="text" class="form-control" name="cpf"
                [(ngModel)] = "pessoa.cpf" mask="000.000.000-00" placeholder="000.000.000-00">
        </div>

        <button type="submit" class="btn btn-primary me-2">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="goToUsuarioList()">Cancelar</button>

    </form>
</div>
