<div class="col-md-8 offset-md-3">
    <h3>Atualização de Conta</h3>
    <form (ngSubmit) = "onSubmit()">

        <div class="mb-3">
            <input id="nome" type="text" class="form-control" name="nome" disabled
                [(ngModel)] = "pessoa.nome">
        </div>        

        <div class="mb-3">
            <input id="cpf" type="text" class="form-control" name="cpf" disabled
                [(ngModel)] = "pessoa.cpf">
        </div>        

        <div class="mb-3">
            <label class="mb-3">Agência</label>
            <input id="agencia" type="text" class="form-control" name="agencia"
                [(ngModel)] = "conta.numeroAgencia" maxlength="10"
                inputmode="numeric" pattern="[0-9]*">
        </div>

        <div class="mb-3">
            <label class="mb-3">Conta</label>
            <input id="conta" type="text" class="form-control" name="conta"
                [(ngModel)] = "conta.numeroConta" maxlength="10" 
                inputmode="numeric" pattern="[0-9]*">
        </div>

        <div class="mb-3">
            <label class="mb-3">Dígito</label>
            <input id="digito" type="text" class="form-control" name="digito"
                [(ngModel)] = "conta.digito" maxlength="1" 
                inputmode="numeric" pattern="[0-9]*">
        </div>                
        
        <div class="mb-3">
            <label class="mb-3">Tipo</label>
            <select id="tipo" class="form-control" name="tipo" [(ngModel)] = "conta.tipoConta">
                <option value="CONTA-CORRENTE">CONTA-CORRENTE</option>
                <option value="CONTA-POUPANÇA">CONTA-POUPANÇA</option>
                <option value="CONTA-SALÁRIO">CONTA-SALÁRIO</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary me-2">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="goToContasList()">Cancelar</button>

    </form>
</div>
